// colours
$highlight: rgba(116, 127, 224, 0.65);
$highlight-text: #747fe0;

// keyframes
@keyframes blink-caret {
    from, to {border-color: transparent}
    50% {border-color: $highlight}
}

body {
    margin: 0;
    padding: 0;
    background-color: #f6f9fc;
    font-family: 'Verdana', sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 40px 2em 40px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
}

nav {
    margin-top: 2em;
}

nav a {
    margin: 0 10px;
    padding: 3px 4px;
}

.hero-container {
    margin: 20vh auto 0 auto;
}

.hero-title {
    font-family: Ubuntu Mono, monospace;
    color: $highlight-text;
    font-size: 4.5em;
    padding-right: 0.1em;
    overflow: hidden;
    border-right: 0.5em solid $highlight;
    animation: blink-caret 1s step-end infinite;
    &:before {
        content: '> ';
    }
}

.hero-subtext {
    margin: 6vh 0;
    font-size: 1.2em;
}

.about-container {
    margin: 6vh auto 0 auto;
    font-size: 1.1em;
}

.terminal {
    border-radius: 5px;
    overflow: hidden;
}

.terminal-header {
    height: 30px;
    background-color: #e4e3e5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 10px;

    &.red {
        background-color: #f96256;
        border: 1px solid #f96256;
    }
    &.yellow {
        background-color: #fdbc3d;
        border: 1px solid #fdbc3d;
    }
    &.green {
        background-color: #33c948;
        border: 1px solid #33c948;
    }
}

.terminal-window {
    background-color: #5a5d7a;
    font-family: Ubuntu Mono, monospace;

    & .statement {
        margin: 0 35px 25px 35px;
        &:first-child {
            padding-top: 35px;
        }
        &:last-child {
            padding-bottom: 35px;
            margin-bottom: 0;
        }
    }
}

.input-statement {
    color: #f7f7f7;
    &:before {
        content: '> ';
    }
}

.output-statement {
    color: #e7d184;
    &.array {
        &:before {
            content: '['
        }
        &:after {
            content: ']'
        }
        & span {
            &:before {
                content: '"'
            }
            &:after {
                content: '", ';
            }
            &:last-child:after {
                content: '"'
            }
        }
    }
    & a {
        color: #35feff;
        text-decoration: none;
    }
}