$highlight: rgb(116, 127, 224)
$highlight-text: #747fe0

@font-face 
    font-family: 'Open Sans'
    font-style: normal
    font-weight: 300
    src: local(''), url('/static/fonts/open-sans-v18-latin-300.woff2') format('woff2'), url('/static/fonts/open-sans-v18-latin-300.woff') format('woff')

@font-face 
    font-family: 'Open Sans'
    font-style: normal
    font-weight: 400
    src: local(''), url('/static/fonts/open-sans-v18-latin-regular.woff2') format('woff2'), url('/static/fonts/open-sans-v18-latin-regular.woff') format('woff')

@font-face 
    font-family: 'Open Sans'
    font-style: normal
    font-weight: 600
    src: local(''), url('/static/fonts/open-sans-v18-latin-600.woff2') format('woff2'), url('/static/fonts/open-sans-v18-latin-600.woff') format('woff')

@font-face 
    font-family: 'Open Sans'
    font-style: normal
    font-weight: 700
    src: local(''), url('/static/fonts/open-sans-v18-latin-700.woff2') format('woff2'), url('/static/fonts/open-sans-v18-latin-700.woff') format('woff')

@font-face
    font-family: 'Ubuntu Mono'
    src: url("/static/fonts/ubuntu-mono-v10-latin-regular.woff2") format("woff2")

html
    overflow-y: overlay
    font-size: 1rem

body
    margin: 0
    padding: 0
    background-color: white
    font-family: 'Open Sans', sans-serif
    text-rendering: optimizeLegibility

a
    color: $highlight-text
    text-decoration: none
    &:hover
        text-decoration: underline
        cursor: pointer

.navbar
    background: #eee

nav
    margin: 0 auto
    display: flex
    justify-content: space-between
    align-items: center
    max-width: 800px
    padding: 1rem
    .left
        font-weight: bold
    .right a
        margin: 0 1rem 0 0
    a
        color: black
        &:last-child
            margin: 0
            padding-right: 0