doctype html
html
    head
        title Homepage
        link(rel='stylesheet', href='/static/css/index.css')
        link(rel='stylesheet', href='/static/css/blog.css')
    body
        .content
            each post in posts
                .post
                    h1= post.title
                    .post-meta
                        span= post.time
                    .post-content
                        each line in post.content
                            p= line