doctype html
html
    head
        title Homepage
        link(rel='stylesheet', href='/static/css/blog.css')
        link(rel='icon', href='/static/favicon.ico')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')
    body
        .navbar
            nav
                .left
                    a(href='/') jacobsalway.com
                .right
                    a Blog
                    a Portfolio
        .content
            if posts.length > 0
                each post in posts
                    .post
                        h1
                            a= post.title
                        .post-meta
                            span= post.time
                        .post-content
                            each line in post.content
                                p= line
                        .post-read-more
                            a Read more →
            else
                span No blog content yet.