doctype html
html
    head
        title Jacob Salway
        link(rel='stylesheet', href='/static/css/main.css')
        link(rel='icon', href='/static/favicon.ico')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')
    body
        .container
            .navbar
                nav
                    .left
                    .right
                        a(href='/blog') Blog
                        a Portfolio
            .hero-container
                span.hero-title Jacob Salway
                .hero-subtext 
                    span 
                        | I'm a data analyst at 
                        a(href="https://domain.com.au") Domain
                        |  and a third-year student at the University of Sydney studying computer science and data science. 
                    span I'm looking for opportunities in the field of data science and analytics and to gain experience while I complete my studies.
            .about-container
                .terminal       
                    .terminal-header
                        .header-button.red
                        .header-button.yellow
                        .header-button.green
                    .terminal-window
                        .statement
                            .input-statement $work
                            .output-statement "Data Analyst at Domain"
                            .output-statement "10/2019 - present"
                        .statement
                            .input-statement $location
                            .output-statement "Sydney, Australia"
                        .statement
                            .input-statement $education
                            .output-statement "Bachelor of Science - Data Science, Computer Science"
                            .output-statement "University of Sydney"
                            .output-statement "2018 - 2020 (expected)"
                        .statement
                            .input-statement $contact
                            .output-statement.array
                                span
                                    a(href="mailto:jacob.salway@gmail.com") jacob.salway@gmail.com
                                span
                                    a(href="https://linkedin.com/in/jacobsalway") LinkedIn
                                span
                                    a(href="https://github.com/xorana") Github
                                span
                                    a(href="https://www.kaggle.com/jacobsalway") Kaggle
                        .statement
                            .input-statement $skills
                            .output-statement.array
                                span R
                                span Python
                                span SQL
                                span Java
                                span JavaScript
                            .output-statement.array
                                span RStudio
                                span Tableau
                                span Git
                                span Linux
                                span Mode
                                span Snowflake
                            .output-statement.array
                                span data analysis
                                span data visualisation
                                span programming
                                span statistics
                        .statement
                            .input-statement $interests
                            .output-statement.array
                                span data science and analytics
                                span statistics
                                span machine learning and AI
                                span programming
