doctype html
html
    head
        title Projects
        link(rel='stylesheet', href='/static/css/projects.css')
        link(rel='icon', href='/static/favicon.ico')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')
    body
        .navbar
            nav
                .left
                    a(href='/') jacobsalway.com
                .right
                    a(href='/blog') Blog
                    a Portfolio
        .content
            .project
                .project-image
                .project-content
                    h3 Project heading
                    p This is some project content that I'm typing for filler but what if it doesn't work?
            .project
                .project-image
                .project-content
                    h3 Project heading
                    p This is some project content that I'm typing for filler but what if it doesn't work?
            .project
                .project-image
                .project-content
                    h3 Project heading
                    p This is some project content that I'm typing for filler but what if it doesn't work?
            .project
                .project-image
                .project-content
                    h3 Project heading
                    p This is some project content that I'm typing for filler but what if it doesn't work?